# Database (Neon.tech PostgreSQL)
DATABASE_URL="your_neon_database_url"

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL="your_upstash_url"
UPSTASH_REDIS_REST_TOKEN="your_upstash_token"

# Frontend (Next.js)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Backend (Hono.js)
NEXT_PUBLIC_SERVER_URL="http://localhost:8080"

# Asset CDN URL (CloudFront)
NEXT_PUBLIC_ASSET_CDN="https://d3h5nh9ihnfcrz.cloudfront.net"

# Payments (Stripe)
STRIPE_ANNUAL_PRICE_ID="price_1S1O62K4rvsiqn4vD709kgEU"
STRIPE_MONTHLY_PRICE_ID="price_1S1NwmK4rvsiqn4voSgH4ELm"