# Environment setting
NODE_ENV=development

# Database (Neon.tech PostgreSQL)
DATABASE_URL=your_neon_database_url

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token

# Aws Accounts (Aws)
DEV_ACCOUNT="your_dev_account"
STAGING_ACCOUNT="your_staging_account"
PROD_ACCOUNT="your_prod_account"

# Aws Account Regions (Aws)
DEV_ACCOUNT_REGION="your_dev_account_region"
STAGING_ACCOUNT_REGION="your_stagin_account_region"
PROD_ACCOUNT_REGION="your_prod_account_region"