# Database (Neon.tech PostgreSQL)
DATABASE_URL=your_neon_database_url

# Authentication
SERVER_URL="http://localhost:8080"
AUTH_SECRET=your_betterauth_secret

# File Storage (AWS S3)
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=your_aws_region
S3_UPLOAD_BUCKET=your_bucket_name

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token

# Payments (Stripe)
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK=your_stripe_webhook_secret

# Server logs (Pino)
LOG_LEVEL=info

# Frontend (Next.js)
FRONTEND_URL=http://localhost:3000
