# Database (Neon.tech PostgreSQL)
DATABASE_URL=your_neon_database_url

# Authentication (Custom)
SERVER_URL="http://localhost:8080"
AUTH_SECRET=your_betterauth_secret

# Email (Resend)
RESEND_API_KEY="your_resend_api_key"
RESEND_MAIL="your_resend_mail"

# File Storage (AWS S3)
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=your_aws_region
S3_UPLOAD_BUCKET=your_bucket_name

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token

# Payments (Stripe)
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK=your_stripe_webhook_secret
STRIPE_ANNUAL_PRICE_ID=your_stripe_annual_price_id
STRIPE_MONTHLY_PRICE_ID=your_stripe_monthly_price_id

# Frontend (Next.js)
FRONTEND_URL=http://localhost:3000

# Logger (Pino)
LOG_LEVEL="info"




