# Environment (Node.js)
NODE_ENV="development"

# Origin (Next.js)
ORIGIN_URL="http://localhost:3000"

# Database (Neon.tech PostgreSQL)
DATABASE_URL="your-database-url"

# CDK (AWS)
CDK_REGION="us-east-1"
CDK_ACCOUNT_ID="your-account-id"