# Environment setting
NODE_ENV=development

# Origin URL (Next.js)
ORIGIN_URL="http://localhost:3000"

# Database (Neon.tech PostgreSQL)
DATABASE_URL="your_neon_database_url"

# Deployment region (AWS CDK)
CDK_REGION="us-east-1"

# Deployment account ID (AWS CDK)
CDK_ACCOUNT_ID="your_aws_account_id"
