# Environment setting
NODE_ENV=development

# Frontend app (Next.js)
FRONTEND_URL="http://localhost:3000"

# Database (Neon.tech PostgreSQL)
DATABASE_URL="your_neon_database_url"

# Cache (Upstash Redis)
UPSTASH_REDIS_REST_URL="http://localhost:8079"

# Cache token (Upstash Redis)
UPSTASH_REDIS_REST_TOKEN="example_token"
